body {
    margin: 0;
    padding: 0;
    background-image: url("images/billboard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    opacity: 0.8;
}

.flex-container-ul {
    display: flex;
    justify-content: space-around;
    margin-right: 130px;
    align-items: end;
}

.grid-li {
    font-size: 20px;
    list-style: none;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.image1 {
    padding-left: 120px;
    height: 78px;
}

.container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    opacity: 0.8;
    margin-top: 528px;
    padding: 14px;
}

h3 {
    padding-left: 70px;
}

.button1 {
    margin: 15px;
    padding: 5px 30px;
    background-color: rgba(8, 158, 218, 0.699);
    border-color: rgba(8, 158, 218, 0.699);
}

.container2 {
    justify-content: center;
    background-color:whitesmoke;
    margin: 0px 245px;
    padding: 66px 50px;
    height: 368px
}

.bgimage {
    color: black;
    padding-left: 133px;
    width: 643px;
}

.images2 {
    display: grid;
    grid-gap: 15px;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    text-align: center;
}
span{
    font-size: 15px;
    color: rgb(87, 87, 87);
}
.s1 {
    padding-top: 25px ;
    text-align: center;
}

.s1-image {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
}

.thirdpage {
    display: flex;
    height: 375px;
    padding: 0px 42px;
}

.para {
    padding: 0px 15px;
}
.para1{
    padding-right: 17px;
}
.div-h1,h1 {
    text-align: center;
    font-size: 35px;  
}

.brandlogo {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    opacity: 0.8;
    height: 40px;
    padding: 25px 140px;
    align-items: center;
}

.band-hight {
    height: 30px;
    justify-content: center;
    padding-top: 20px;
}

#brandlogo {
    padding: 0px 45px;
}

#footer {
    background-color: black;
    height: 500px;
    margin: 0px 45px;
}

.footer1 {
    display: flex;
    background-color: rgb(78, 78, 78);
    justify-content: space-between;
    opacity: 0.8;
    margin: 0px 203px;
    color: white;
    height: 70px;
    padding-right: 20px; 
}

.footer-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto auto auto;
    color: white;
    justify-content: space-around;
    margin: 45px 227px;
}

.footer-img {
    padding: 0px 30px;
    padding-top: 70px;
}

.footer-ul {
    list-style: none;
    font-size: 15px;
    padding: 5px;
}

.footer-h4 {
    font-size: 23px;
}

.footer-p,li {
    margin-top: 10px;
    font-size: 15px;
}

.footer-bootom {
    color: white;
    margin-top: 45px;
    font-size: 13px;
    text-align: center;
}